.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.page-container {
  min-height: calc(100vh - 120px);
  padding-top: 64px;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .page-container {
    padding-top: 56px;
  }
}