<!-- ==============================landing Page============================= -->

<!-- hero / banner -->
<section class="banner">
  <div class="section hero">
    <div class="hero-text">
      <h1>Connect donors with verified NGOs — create real social impact</h1>
      <p>
        Donate food, clothes, and funds — track contributions and schedule pickups
        through a unified donation management platform.
      </p>

      <div class="cta-group">
        <a routerLink="/donations" class="btn btn-lg">browse donation requests</a>
        <a routerLink="/signup" class="btn-tp">get started</a>
      </div>
    </div>

    <div class="hero-images">
      <img src="https://i.postimg.cc/Y9H9kFcX/charity.jpg">
      <img src="https://i.postimg.cc/mkZg1GgC/charity2.jpg">
      <img src="https://i.postimg.cc/L6b85wKg/charity3.jpg">
      <img src="https://i.postimg.cc/J4nh1mgW/charity4.jpg">
    </div>
  </div>
</section>
<!-- End hero / banner -->
<!-- End landing Page ============================= -->
